ul li {
    font-size: 30px;
    text-decoration: none;
    text-decoration-style: none;
    color: blue;
}

form {
    margin-top: 10px;
    height: 655px;
    padding: 20px;
    background-color: blueviolet;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.main-form {
    display: flex;
    flex-direction: column;
}

.main-form input {
    margin-top: 10px;
    height: 2em;
    margin-bottom: 10px;
    padding: 6px;
}

.btnSubmit {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    max-width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    transition: all 0.15s ease-out;
}

.inputRadio input {
    width: 3%;
}

.inputRadio label {
    font-size: 18px;
}

.btnSubmit:hover {
    background-color: red;
}

.lblPrev {
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 1px;
    font-size: 22px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}

.error_message {
    color: red;
}

.main-block_prev {
    display: flex;
}

.main-block_prev .blockPrev {
    background-color: #212121e6;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    color: black;
}

.deleteAddBlock{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.deleteAddBlock a{
    column-gap: 10em;
    text-decoration: none;
    border: 2px solid;
    margin-right: 10px;
    color: white;
    display: flex;
    background-color: blue;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    align-items: center;
    transition: all 0.15s ease-in;
}

.deleteAddBlock a:hover{
    background-color: red;
}


.blockAdjacent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.block_A {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    margin: 20px;
    padding: 12px;
}

.block_B {
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    height: 56vh;
    margin: 20px;
    color: black;
    padding: 10px;
    display: flex;
    font-size: 16px;
    column-gap: 4px;
    border-radius: 4px;
}

.txtDate{
    width: 250px;
}

.block_B table {
    width: 100%;
    padding: 10px;
}

.block_B tr td {
    padding: 10px;
    color: black;
    font-size: 16px;
}

.studentNames {
    color: black;
    padding: 10px;
}


/* Table */
table { 
	width: 100%; 
	border-collapse: collapse; 
	/* margin:50px auto; */
    border-radius: 4px;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}
th { 
	background: blue; 
	color: white; 
	font-weight: bold; 
     padding: 10px;
	}

td, th { 
        padding: 10px; 
        border: 1px solid rgb(194, 193, 193); 
        text-align: left; 
        font-size: 18px;
	}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}